{% extends 'flatpages/default.html' %}

{% load static%}

{% block title %}
    Объявления
{% endblock title %}

{% block content %}

     <h3>Список объявлений</h3>
<hr>
    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.apps.add_post %}
<!-- Page content-->
        <a href="{% url 'apps_create' %}">Добавить объявление</a>
    {% endif %}

   {% if apps %}
      <table>

           <tr>

               <td>      № п/п             </td>
               <td>                     </td>
               <td>      Автор          </td>
               <td>                     </td>
               <td>                     </td>
               <td>      Заголовок      </td>
               <td>                    </td>
                <td>                    </td>
               <td>      Дата           </td>
               <td>                    </td>
               <td>      Категория      </td>
               <td>                    </td>
          {# Условие на допуск действий. #}
          {% if perms.apps.change_post or perms.apps.post_product %}
               <td>    Действия         </td>
          {% endif %}

           </tr>


           {% for app in apps %}
           <tr>
               <td>{{ app.id }}</td>
               <td>  </td>
               <td>{{ app.author.last_name|truncatewords:1 }}</td>
               <td>  </td>
               <td>{{ app.author.first_name|truncatewords:1 }}</td>
              <td>  </td>
               <td>{{ app.heading }}</td>
               <td>  </td>
               <td>{{ app.apps_datetime|date:'d-m-Y H:i'}}</td>
                <td>  </td>
<!--            <td>{{   new.typePost }}</td>  -->
               <td>{{  app.get_category_display }} {{  app.category.field.choices }}</td>
               <td>  </td>
               <td>

                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.apps.change_post %}
                    <!--'post_update' pk=new.id -->
                        <a href="{% url 'apps_create'  %}">Изменить</a>
                    {% endif %}
                    {% if perms.apps.delete_post %}
                        <!-- 'post_delete' pk=new.id  -->
                        <a href="{% url 'apps_create'  %}">Удалить</a>
                    {% endif %}

                </td>

           </tr>


           {% endfor %}

       </table>
   {% else %}
       <h2>Объявление нет!</h2>
   {% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}