{% extends 'flatpages/default.html' %}

{% load news_filters %}


{% block title %}
Новости
{% endblock title %}

{% block content %}

   <h1>Все новости</h1>


   <h3>Список новостей</h3>


   <hr>
    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить новость</a>
    {% endif %}


   {% if categorynews %}
{% if is_not_mailing %}
        <p class="text-centr"><a href="{% url 'mailings' category.id %}"  class="btn btn-secondary btn-sn">Подписаться</a> </p>
 {% endif %}
       <table>
           <tr>
               <td>      ID         </td>
               <td>                      </td>
               <td>      Автор          </td>
               <td>                      </td>
               <td>      Заголовок       </td>
                <td>                    </td>
               <td>      Новость        </td>
                <td>                    </td>
               <td>      Дата           </td>
                <td>                    </td>
               <td>      Вид      </td>
                <td>                    </td>
               <td>      Категория      </td>

          {# Условие на допуск действий. #}
          {% if perms.news.change_post or perms.news.post_product %}
               <td>    Действия         </td>
          {% endif %}
           </tr>

           {% for new in categorynews %}
           <tr>
               <td>{{ new.id }}</td>
               <td>  </td>
               <td>{{ new.author.authorname|truncatewords:5 }}</td>
               <td>  </td>
               <td>{{ new.headPost|censor }}</td>
               <td>  </td>
               <td>{{ new.textPost|truncatechars:20|censor }}</td>
               <td>  </td>
               <td>{{ new.post_datetime|date:'d M Y' }}</td>
                <td>  </td>
<!--            <td>{{   new.typePost }}</td>  -->
               <td>{{  new.get_typePost_display }} {{  new.typePost.field.choices }}</td>
                <td>  </td>

                <td> {% for category in new.category.all %}
                       <a href="{% url 'category_list' category.id %}">{{ category.context }}</a>
                     {% endfor %}  </td>

               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                         <a href="{% url 'post_update' pk=new.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                         <a href="{% url 'post_delete' pk=new.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>


           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей  нет!</h2>
   {% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}