<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load cache %} <!-- Загружаем кэширование -->

<!-- Название у нас будет Новость -->
{% block title %}
   Новость
{% endblock title %}

<!-- В контенте на странице  выводим новость, идентификатор которой был передан в url -->
{% block content %}
 <h3>Текущая новость</h3>
<table>


           <tr>
           {% cache 60 header %} <!-- Кэшируем отдельный блок на 60 секунд -->
               <td>       Автор          </td>

               <td>    </td>
               <td>      Заголовок        </td>
                <td>    </td>
               <td>      Новость         </td>
               <td>    </td>
               <td>  Дата </td>
               <td>                     </td>
               <td>      Категория      </td>
           {% endcache %}
           </tr>

           <tr>
               <td>{{  newss.author.authorname|truncatewords:5  }}</td>
               <td>    </td>
               <td>{{  newss.headPost  }}</td>
               <td>     </td>
               <td>{{  newss.textPost|truncatechars:20  }}</td>
               <td>     </td>
               <td>{{  newss.post_datetime|date:'d M Y'  }}</td>
               <td>            </td>
              <td>{{  newss.get_typePost_display }} {{  news.typePost.field.choices }}</td>

           </tr>
    </table>
{% endblock content %}