{% extends 'flatpages/default.html' %}

{% load news_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h3>Поиск новостей</h3>
<hr>

{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">

          {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}

       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    </form>

   <hr>

{% if search %}
       <table>
           <tr>
               <td>       Автор         </td>
               <td>                     </td>
               <td>     Заголовок       </td>
               <td>                     </td>
               <td>      Новость        </td>
               <td>                     </td>
               <td>       Дата          </td>
           </tr>

           {% for new in search %}
           <tr>
               <td>{{ new.author.authorname|truncatewords:5 }}</td>
               <td>        </td>
               <td>{{ new.headPost|censor }}</td>
               <td>        </td>
               <td>{{ new.textPost|truncatechars:20|censor }}</td>
               <td>  </td>
               <td>{{ new.post_datetime|date:'d M Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей  нет!</h2>
   {% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}